# Caddy configuration
{
  email {$CADDY_EMAIL}
  servers {
      metrics
  }
}

{$EXTERNAL_DOMAIN} {
  tls {
      dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }
  respond "Hello from hummingbirdlabs.dev!"
}

*.{$EXTERNAL_DOMAIN} {
  tls {
      dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }
  abort
}

{$HOMEASSISTANT_SUBDOMAIN}.{$EXTERNAL_DOMAIN} {
  reverse_proxy {$HOMEASSISTANT_UPSTREAM}
}

*.{$LAN_DOMAIN} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    abort
}

test.{$LAN_DOMAIN}:80 {
  respond "Hello from test.{$LAN_DOMAIN} over HTTP!"
}
test.{$LAN_DOMAIN}:443 {
  respond "Hello from test.{$LAN_DOMAIN} over HTTPS!"
}

{$CADDY_SUBDOMAIN}.{$LAN_DOMAIN} {
  metrics
}
{$MONITORING_SUBDOMAIN}.{$LAN_DOMAIN} {
  reverse_proxy {$MONITORING_UPSTREAM}
}
{$GRAFANA_SUBDOMAIN}.{$LAN_DOMAIN} {
  reverse_proxy {$GRAFANA_UPSTREAM}
}
{$PROMETHEUS_SUBDOMAIN}.{$LAN_DOMAIN} {
  reverse_proxy {$PROMETHEUS_UPSTREAM}
}
{$HOMEASSISTANT_SUBDOMAIN}.{$LAN_DOMAIN} {
  reverse_proxy {$HOMEASSISTANT_UPSTREAM}
}
{$REGISTRY_SUBDOMAIN}.{$LAN_DOMAIN} {
  reverse_proxy {$REGISTRY_UPSTREAM}
}
{$PLATFORM_API_SUBDOMAIN}.{$LAN_DOMAIN} {
  reverse_proxy {$PLATFORM_API_UPSTREAM}
}